.nav-bar-container{
    width: auto;
    margin: 10px 0px 0px 50px;
}
.top-nav-bar-div{
    margin-bottom: 10px;
}
.login-container{
    margin: auto;
    margin-top: 50px;
    width: 425px;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 2%;
    box-shadow: 5px 8px 8px #8888BA;
}
.login-input{
    /*border-radius: 2%;*/
    box-shadow: 2px 2px 8px #888888;
}
@media (max-width: 778px) {
    .nav-bar-container{
        margin: 10px 0px 0px 10px;
    }
}
@media (max-width: 730px) {
    .nav-bar-container {
        width: 50%;
    }
}
    @media (max-width: 778px) {
        .nav-bar-container{
            margin: 10px 0px 0px 10px;
        }
    }
.jumbotron-fluid{
    height: 400px;
}
.footer_{
    color: white;
}
footer> div{
    padding: 20px;
}